html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    height: 100vh;
    font-size: 2rem;


    background-color: #282c34;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #081f2d;
    border-radius: 29px;
    border: 1px solid #081F2D;
    color: white;
    font-size: 15px;
    padding: 10px 45px;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: auto;
}

button:hover {
    background-color: white;
    color: #081F2D;
    border-color: #081F2D;
    transition: 0.3s;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
}

input {
    position: relative;
    display: inline-block;
    max-width: 700px;
    min-width: 500px;
    box-sizing: border-box;
    padding: 30px 25px;
    background-color:rgba(255, 255, 255, 0.7);
    border-radius: 40px;
    margin: 0px 0;
    font-size: 1rem;
}

img {
    height: auto;
    border-radius: 8px;
}
h1,h3 {
    align-content: center;
}